/* CSS 주석 */

/* 전체 요소 셀렉터 */
* { font-size: 30px; }

/* 태그(=요소=타입) 셀렉터 */
ul { border: 1px solid blue; }
li { list-style: none; }

/* id 셀렉터 */
#div1 { background-color: green; }
/* div#div1 : div 요소 중 아이디 속성의 값이 div1인 div */
/* = div[id='div1'] */

/* class 셀렉터 */
.odd { font-weight: bold; }
/* = li.odd = li[class='odd'] */

/* type 속성을 가진 input */
input[type] { color: blue; }

/* type 속성의 값이 text인 input */
input[type='text'] { color: red; }

/* type속성값을 공백으로 구분했을때 password가 있는 input */
/* 일반적으로 class 속성의 값이 공백으로 구분된 여러개일때 사용 */
/* 예) <div class="a b c d e" ===> div[class~='c'] */ 
input[type~='password'] { color: yellow; }

/*  type속성값이 password이거나 password뒤에 -가 나오는 input */
input[type|='password'] { color: orange; }

/*  type속성값이 password를 포함하는 input */
input[type*='password'] { color: blue; }

/*  type속성값이 password로 시작하는 input */
input[type^='password'] { color: yellow; }

/*  type속성값이 password로 끝나는 input */
input[type$='password'] { color: red; }

/* 자식(child) 셀렉터 */
div > ul { border-width: 5px; }
div > div > div { font-size: 20px; }

/* 후손(descendent) 셀렉터 */
div ul { border-color: cyan; }
div ul li { text-decoration: underline; }

/* 인접 형제 셀렉터 */
ul + div { background-color: lightgray; }

/* 일반 형제 셀렉터 */
input[type='text'] ~ input { background-color: blueviolet; }

