body {
    padding: 200px;
    perspective: 800px;
}

.card {
    width: 200px;
    height: 120px;
    background: #00aaff;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: transform 0.4s;
    animation: popIn 0.8s ease-out;
}

@keyframes popIn {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.card:hover {
    transform: rotateY(25deg) rotateX(10deg) scale(1.5);
}

.card:active {
    transform: scale(0.85);
    background-color: green;
}